

 body {
    font-family:'Comic Sans MS',cursive, sans-serif;
    width: 95vw;
    height: 95vh;
    
}

.main {
  width: 100%;
  height: 100%;
  
  /* Flexbox properties 
   * for centering child
   * elements inside 
   * this element */
  display: flex;
  align-items: center;
  justify-content: center;
} 

.child {
  max-width: 400px; 
  width: 50%;
}

.home{
    color: black;
    text-decoration: initial;
}

#square{
    height: 200px;
    width: 200px;
}